@model Bus_Ticket_2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html>
<head>
</head>
<style>

    .section {
        position: relative;
        height: 100vh;
    }

        .section .section-center {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    body{
        padding: 0;
        margin: 0;
        background: url(../Image/bus4.jpg) no-repeat center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        -moz-background-size: cover;
        font-family: 'Open Sans', sans-serif !important;
    }


    .booking-form {
        background-color: rgba(255, 255, 255, 0.50);;
        padding: 50px 50px 50px 50px;
        -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }

        .booking-form .form-group {
            position: relative;
            margin-bottom: 30px;
        }



        

input.btn-default {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    background-color: #ab8071;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
}

    input.btn-default:hover {
        background-color: #000;
    }

.text {
  fill: none;
  stroke-width: 7;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #000000;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #8B008B;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #006400;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@@-webkits-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

#logo {
 
  font: 11.5em/1 Open Sans, Impact;
   margin-left:120px;
   margin-top:30px;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.scroll-slow {
 height: 100px;	
 overflow: hidden;
 position: relative;
 background:transparent;

}
</style>
<body>
    <div class="scroll-slow">


        <div id="logo">
            <svg viewBox="0 0 1320 300">

                <!-- Symbol -->
                <symbol id="s-text">
                    <text text-anchor="middle"
                          x="50%" y="50%" dy=".35em">
                        REGISTRATION FORM
                    </text>
                </symbol>

                <!-- Duplicate symbols -->
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>

            </svg>
        </div>
    </div>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-5">
                        <div class="booking-form">


                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Create a new account.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Register" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }








